<div class="jumbotron">
  <% if user_signed_in? %>
    <h1>Welcome back, <%= current_user.email %></h1>
    <p class="lead">
      You have signed in!  You may generate report from this page. All you need - just input campaign id value
    </p>

    <%= form_for current_user, url: generate_report_user_path(current_user.id), method: :get do |f| %>
      Campaign id: <%= text_field('', 'campaign_id') %><br />
      <%= f.submit 'Generate Report' %>
    <% end %>

    <%= link_to "Generated Reports", user_generated_reports_path(current_user.id) %>
  <% else %>
    <h1>Welcome, new user!</h1>
    <p class="lead">
      You must sign in or sign up before you can access our super sweet,
      top secret content.
    </p>
    <div class="row-fluid">
      <div class="span6">
        <%= link_to "Sign In", new_user_session_path, :class => "btn btn-success" %>
      </div>
      <div class="span6">
        <%= link_to "Sign Up", new_user_registration_path, :class => "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>